if messages.errors
  .container#alert-errors
    .card.card-red
      a.card-side.pull-right.waves-attach.waves-effect#close-error(href='#')
        span.card-heading
          span.icon close
          |  Close
      .card-main
        .card-inner
          ul
            for error in messages.errors
              li
                if (error.msg)
                  =error.msg
                else
                  =error
if messages.info
  .container#alert-info
    .card.card-amber
      a.card-side.pull-right.waves-attach.waves-effect#close-info(href='#')
        span.card-heading
          span.icon close
          |  Close
      .card-main
        .card-inner
          ul
            for info in messages.info
              li
                if (info.msg)
                  =info.msg
                else
                  =info
if messages.success
  .container#alert-success
    .card.card-green
      a.card-side.pull-right.waves-attach.waves-effect#close-success(href='#')
        span.card-heading
          span.icon close
          |  Close
      .card-main
        .card-inner
          ul
            for success in messages.success
              li
                if (success.msg)
                  =success.msg
                else
                  =success
