// Navbar
header.header.header-transparent.header-waterfall
  ul.nav.nav-list.pull-left
    li
      a(data-toggle='menu', href='#menu')
        span.icon.icon-lg menu
  a.header-logo.margin-left-no(href='#') Brand
  .header-affix.pull-left(data-offset-top='108', data-spy='affix')
    span.header-text.margin-left-no
      i.icon.margin-right chevron_right
      | title
  ul.nav.nav-list.pull-right
    li
      a(data-toggle='menu', href='#profile')
        span.access-hide User Fullname
        span.avatar
          img(src='/images/users/avatar-001.jpg')
// end navbar
// left offcanvas sidebar
nav#menu.menu(aria-hidden='true', tabindex='-1')
  .menu-scroll
    .menu-content
      a.menu-logo(href='') Brand
      ul.nav
        li
          a.waves-attach(href='') Documents
        li
          a.waves-attach(href='') Audio
        li
          a.waves-attach(href='') Video
        li
          a.waves-attach(href='') Bookmarks
        li
          a.waves-attach(href='') Others
      hr
      ul.nav
        li
          a.waves-attach(href='') Account
          span.menu-collapse-toggle.collapsed.waves-attach(data-target='#account', data-toggle='collapse')
            i.icon.menu-collapse-toggle-close close
            i.icon.menu-collapse-toggle-default add
          ul#account.menu-collapse.collapse
            li
              a.waves-attach(href='') Profile
            li
              a.waves-attach(href='') Settings
            li
              a.waves-attach(href='') Privacy
      hr
// end offcanvas sidebar
// Right Offcanvas sidebar
nav#profile.menu.menu-right(aria-hidden='true', tabindex='-1')
  .menu-scroll
    .menu-top
      .menu-top-img
        img(src='/images/samples/landscape.jpg')
      .menu-top-info
        a.menu-top-user(href='javascript:void(0)')
          span.avatar.pull-left
            img(src='/images/users/avatar-001.jpg')
          | User Name
      .menu-top-info-sub
        small useremail@something.com
    .menu-content
      ul.nav
        li
          a.waves-attach(href='')
            span.icon.icon-lg account_box
            | Profile Settings
        li
          a.waves-attach(href='')
            span.icon.icon-lg add_to_photos
            | Upload Photo
        li
          a.waves-attach(href='')
            span.icon.icon-lg exit_to_app
            | Logout
// end right offcanvas sidebar
