extends layout

block extraScripts
  link(href='/css/landing-page.css', rel='stylesheet')

block content
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            h1 Landing Page
            h3 Short description about the business
            hr.intro-divider
            ul.list-inline.intro-social-buttons
              li
                a.btn.btn-default.btn-lg(href='')
                  i.fa.fa-twitter.fa-fw
                  span.network-name Twitter
              li
                a.btn.btn-default.btn-lg(href='')
                  i.fa.fa-github.fa-fw
                  span.network-name Github
              li
                a.btn.btn-default.btn-lg(href='#')
                  i.fa.fa-linkedin.fa-fw
                  span.network-name Linkedin
    // /.container
  // /.intro-header
  // Page Content
  a(name='services')
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6
          hr.section-heading-spacer
          .clearfix
          h2.section-heading
            | Death to the Stock Photo:
            br
            | Special Thanks
          p.lead
            | A special thanks to 
            a(target='_blank', href='') Death to the Stock Photo
            |  for providing the photographs that you see in this template. Visit their website to become a member.
        .col-lg-5.col-lg-offset-2.col-sm-6
          img.img-responsive(src='/images/site/ipad.png', alt='')
    // /.container
  // /.content-section-a
  .content-section-b
    .container
      .row
        .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
          hr.section-heading-spacer
          .clearfix
          h2.section-heading
            | 3D Device Mockups
            br
            | by PSDCovers
          p.lead
            | Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by 
            a(target='_blank', href='') PSDCovers
            | ! Visit their website to download some of their awesome, free photoshop actions!
        .col-lg-5.col-sm-pull-6.col-sm-6
          img.img-responsive(src='/images/site/dog.png', alt='')
    // /.container
  // /.content-section-b
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6
          hr.section-heading-spacer
          .clearfix
          h2.section-heading
            | Google Web Fonts and
            br
            | Font Awesome Icons
          p.lead
            | This template features the 'Lato' font, part of the 
            a(target='_blank', href='http://www.google.com/fonts') Google Web Font library
            | , as well as 
            a(target='_blank', href='http://fontawesome.io') icons from Font Awesome
            | .
        .col-lg-5.col-lg-offset-2.col-sm-6
          img.img-responsive(src='/images/site/phones.png', alt='')
    // /.container
  // /.content-section-a
  a(name='contact')
  .banner
    .container
      .row
        .col-lg-6
          h2 Connect to Start Bootstrap:
        .col-lg-6
          ul.list-inline.banner-social-buttons
            li
              a.btn.btn-default.btn-lg(href='https://twitter.com/SBootstrap')
                i.fa.fa-twitter.fa-fw
                span.network-name Twitter
            li
              a.btn.btn-default.btn-lg(href='https://github.com/IronSummitMedia/startbootstrap')
                i.fa.fa-github.fa-fw
                span.network-name Github
            li
              a.btn.btn-default.btn-lg(href='#')
                i.fa.fa-linkedin.fa-fw
                span.network-name Linkedin
    // /.container
  // /.banner
