doctype html
html
  head
    meta(charset='UTF-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='initial-scale=1.0, width=device-width', name='viewport')
    title= title
    // css
    link(href='/css/base.css', rel='stylesheet')
    // css for this project
    link(href='/css/project.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    
    block extraScripts
    // favicon
    // ...

  body.avoid-fout.page-brand
    // Spinner
    //- .avoid-fout-indicator.avoid-fout-indicator-fixed
    //-   .progress-circular.progress-circular-center
    //-     .progress-circular-wrapper
    //-       .progress-circular-inner
    //-         .progress-circular-left
    //-           .progress-circular-spinner
    //-         .progress-circular-gap
    //-         .progress-circular-right
    //-           .progress-circular-spinner
    // end spinner
    include partials/header
    // Page Content
    .content
      .content-heading
        .container
          h1.heading #{title}
    
      include partials/flash
      
      block content
    
      // FAB
      .fbtn-container
        .fbtn-inner
          a.fbtn.fbtn-brand-accent.fbtn-lg
            span.fbtn-text Links
            span.fbtn-ori.icon add
            span.fbtn-sub.icon close
      // end FAB
    // end Page Content
    include partials/footer
    // js
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/js/base.min.js')
    // js for this project
    script(src='/js/project.js')
    
    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X', 'auto');
      ga('send', 'pageview');
