doctype html
html
  head
    meta(charset='UTF-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='initial-scale=1.0, width=device-width', name='viewport')
    title= title
    // css
    link(href='/css/base.css', rel='stylesheet')
    // css for this project
    link(href='/css/project.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    // favicon
    // ...

  body.avoid-fout.page-brand
    // Spinner
    //- .avoid-fout-indicator.avoid-fout-indicator-fixed
    //-   .progress-circular.progress-circular-center
    //-     .progress-circular-wrapper
    //-       .progress-circular-inner
    //-         .progress-circular-left
    //-           .progress-circular-spinner
    //-         .progress-circular-gap
    //-         .progress-circular-right
    //-           .progress-circular-spinner
    // end spinner
    header.header.header-brand
      span.header-logo Admin
      ul.nav.nav-list.pull-right
        li
          a(href='#') Logout
    .content
      .container
        include partials/flash
        .row
          // Sidebar
          .col-md-3
            ul.nav
              li
                a.tile.waves-attach.waves-effect(href='/admin/category/new') Add Category
              li
                a.tile.waves-attach.waves-effect(href='/admin/category') List Category

          // End sidebar
          
          // Large Column Content
          .col-md-9
            block admin-content
          // end large column
    
    include partials/footer
    // js
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/js/base.min.js')
    // js for this project
    script(src='/js/project.js')
