extends ../layout-admin

block admin-content
  .row
    .col-md-4
      h3 Add Category
      form(role='form', action="/admin/category", method="POST")
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label Category Name
          input.form-control(type='text', name='category')
        .form-group
          label.control-label Category Slug
          input.form-control(type='text', name='slug')
        button.btn(type='submit', name='submit') Submit
