extends ../layout-admin

block admin-content
  h3 Edit Category
  form(role="form", action="/admin/category/edit", method="POST")
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='categoryId', value="#{category._id}")
    .form-group
      label.control-label Category Name
      input.form-control(type='text', name='category', value="#{category.category}")
    .form-group
      label.control-label Slug
      input.form-control(type='text', name='slug', value="#{category.slug}")
    .form-group
      button.btn(type='submit', name='submit') Submit
