extends ../layout-admin

block admin-content
  .row
    for category in categories
      .col-md-12
        h4
          a(href="/admin/category/show/"+category.slug) #{category.category}
        p
          small slug: #{category.slug}
        table.table
          thead
            tr
              th Subcategory
              th Slug
          tbody
            for s in category.subcategory
              tr
                td #{s.subcategory}
                td #{s.slug}
