extends ../layout-admin

block admin-content
  .row
    .col-md-12
      h4= category.category
        small
          &nbsp;
          a(href="/admin/category/"+category.slug+"/edit") Edit &nbsp;
          a(href="/admin/category/"+category.slug+"/delete") Delete
      form(action='/admin/category/subcategory/new', method="POST")
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden', name='categorySlug', value="#{category.slug}")
        table.table
          thead
            tr
              th Subcategory
              th Slug
              th
              th
          tbody
            for s in category.subcategory
              tr
                td #{s.subcategory}
                td #{s.slug}
                td
                  a(href="/admin/category/"+category.slug+"/"+s.slug+"/delete") Delete
            tr
              td
                  input.form-control(type='text', name='subcategory', placeholder='Subcategory Name')
              td
                  input.form-control(type='text', name='subcategorySlug', placeholder='Subcategory Slug')
              td
                button.btn.btn-xs(type='submit', name="submit") Submit
