extends ../layout-blank

block content
  .container
    .row
      .col-lg-4.col-lg-push-4.col-sm-6.col-sm-push-3
        section.content-inner
          .card-wrap
            .card
              .card-main
                .card-header
                  .card-inner
                    h1.card-heading Login
                .card-inner
                  p.text-center
                    span.avatar.avatar-inline.avatar-lg
                      img(alt='Login', src='/images/users/avatar-001.jpg')
                  form.form(action='/login', method="POST")
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group.form-group-label
                      .row
                        .col-md-10.col-md-push-1
                          label.floating-label Email
                          input#email.form-control(type='text', name="email")
                    .form-group.form-group-label
                      .row
                        .col-md-10.col-md-push-1
                          label.floating-label(for='login-password') Password
                          input#password.form-control(type='password', name="password")
                    .form-group
                      .row
                        .col-md-10.col-md-push-1
                          button.btn.btn-block.waves-attach.waves-button(type="submit", value="submit") Sign In
                  .row
                    .col-md-10.col-md-push-1
                      p.text-center
                        | Or Login Using
                      .row
                        .col-md-6
                          button.btn.btn-block.waves-attach.waves-button.btn-brand Facebook
                        .col-md-6
                          button.btn.btn-block.waves-attach.waves-button.btn-red Google
          .clearfix
            p.margin-no-top.pull-left
              a.btn.btn-flat.btn-blue.waves-attach(href='javascript:void(0)') Need help?
            p.margin-no-top.pull-right
              a.btn.btn-flat.btn-blue.waves-attach(href='/signup') Create an account
