extends ../layout-blank

block content
  .container
    .row
      .col-lg-4.col-lg-push-4.col-sm-6.col-sm-push-3
        section.content-inner
          .card-wrap
            .card
              .card-main
                .card-header
                  .card-inner
                    h1.card-heading Sign Up
                .card-inner
                  form.form(action='/signup', method="POST")
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group.form-group-label
                      .row
                        .col-md-10.col-md-push-1
                          label.floating-label Email
                          input#email.form-control(type='text', name="email")
                    .form-group.form-group-label
                      .row
                        .col-md-10.col-md-push-1
                          label.floating-label Password
                          input#password.form-control(type='password', name="password")
                    .form-group.form-group-label
                      .row
                        .col-md-10.col-md-push-1
                          label.floating-label Retype Password
                          input#confirmPassword.form-control(type='password', name="confirmPassword")
                    .form-group
                      .row
                        .col-md-10.col-md-push-1
                          button#submit.btn.btn-block.waves-attach.waves-button(type="submit", value="submit") Sign Up
                    .form-group
                      .row
                        .col-md-10.col-md-push-1.text-center
                          | By clicking Sign up, you agree with the 
                          br
                          a(href='') Terms and Conditions
                  .row
                    .col-md-10.col-md-push-1
                      p.text-center
                        | Or Signup Using
                      .row
                        .col-md-6
                          button.btn.btn-block.waves-attach.waves-button.btn-brand Facebook
                        .col-md-6
                          button.btn.btn-block.waves-attach.waves-button.btn-red Google
          .clearfix
            p.margin-no-top.pull-left
              a.btn.btn-flat.btn-blue.waves-attach(href='javascript:void(0)') Need help?
            p.margin-no-top.pull-right
              a.btn.btn-flat.btn-blue.waves-attach(href='/login') Existing User Login
