extends ../layout

block content
  .container
    .row
      // Sidebar
      .col-md-3
      
      .col-md-6
        form.form(type='multipart', action="/service", method="POST")
          input(type='hidden', name='_csrf', value=_csrf)
          fieldset
            legend Add a Service
            //- .form-group.form-group-label.control-highlight
            //-       label.floating-label Service Category
            //-       select.form-control
            //-         option(value="") &nbsp;
            //-         for c in categories 
            //-           option(value='#{c.category}') 
            //-             =c.category
            .form-group.form-group-label.control-highlight
                  label.floating-label Service Category
                  select.form-control(name="categorySubcategory")
                    option(value='') &nbsp;
                    for c in categories
                      optgroup(label="#{c.category}")
                        for sub in c.subcategory
                          option(value='#{c.category}|#{sub.subcategory}') 
                            =sub.subcategory
            .form-group.form-group-label
                  label.floating-label Package Name
                  input.form-control(type='text', name="packagename", value="#{repop.packagename}")
            .form-group.form-group-label
                  label Cover Photo
                  input.form-control(type='file')
            .form-group.form-group-label
              .row
                .col-lg-2.col-xs-4
                  label.floating-label Quantity
                  input.form-control(type='text', name="qty", value="#{repop.qty}")
                .col-lg-2.col-xs-4
                  label.floating-label Unit
                  select.form-control(name="unit")
                    option(value='')  
                    option(value='pc') pc
                    option(value='unit') unit
                    option(value='kg') Kg
                    option(value='gm') gm
                    option(value='lbs') lbs
                    option(value='meter') meter
                    option(value='feet') feet
                    option(value='liter') liter
                .col-lg-2.col-xs-4
                  label.floating-label Price (BDT)
                  input.form-control(type='text', name="price", value="#{repop.price}")
            .form-group.form-group-label.control-highlight
                  label.floating-label Link Album
                  select.form-control(name="album")
                    option(value='')  
                    option(value='1') Album 1
                    option(value='2') Album 2
                    option(value='3') Album 3
            .form-group.form-group-label
                  label.floating-label Description
                  textarea.form-control.textarea-autosize(rows='1', name="description", value="#{repop.description}")
            .form-group.form-group-label
                  label.floating-label Conditions (If any)
                  textarea.form-control.textarea-autosize(rows='1', name="conditions", value="#{repop.conditions}")
            .form-group.form-group-label.control-highlight
                  label.floating-label Delivery Region (Seperate by comma)
                  input.form-control(type='text', name="deliveryRegion")
            .form-group.form-group-label.control-highlight
                  label.floating-label Delivery By
                  div
                    .checkbox.checkbox-adv.checkbox-inline
                      label
                        input.access-hide(type='checkbox', name="deliveryMethod", value="Own Method")
                        | Own Method
                        span.circle
                        span.circle-check
                        span.circle-icon.icon done
                    .checkbox.checkbox-adv.checkbox-inline
                      label
                        input.access-hide(type='checkbox', name="deliveryMethod", value="Shongini.com")
                        | Shongini.com
                        span.circle
                        span.circle-check
                        span.circle-icon.icon done
                    .checkbox.checkbox-adv.checkbox-inline
                      label
                        input.access-hide(type='checkbox', name="deliveryMethod", value="Third Party")
                        | Third Party
                        span.circle
                        span.circle-check
                        span.circle-icon.icon done
            .form-group.form-group-label
                  label.floating-label Tags (seperated by comma)
                  input.form-control(type='text', name="tags", value="#{repop.tags}")
            .form-group-btn
              button.btn.btn-brand-accent.waves-attach.waves-button.waves-light.waves-effect(type='submit') Submit
              button.btn.waves-attach.waves-button.waves-effect(type='button') Cancel
      .col-md-3
        h5 Help
        p.text-muted
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
