extends ../layout

block content
  .container
    .row
      // Sidebar
      .col-md-4
        // Card
        //- .card
        //-   .card-main
        //-     .card-header
        //-       .card-header-side.pull-left
        //-         .avatar
        //-           img(alt='John Smith Avatar', src='images/users/avatar-001.jpg')
        //-       .card-inner
        //-         span Some Text!
        //-     .card-inner
        //-       p
        //-         | Lorem ipsum dolor sit amet.
        //-         br
        //-         |  Consectetur adipiscing elit.
        //-     .card-action
        //-       .card-action-btn.pull-left
        //-         a.btn.btn-flat.waves-attach.waves-effect(href='javascript:void(0)')
        //-           span.icon.text-blue check
        //-           span.text-blue Button
        // End card
        // Tile Wrap
        #tile-parent-1.tile-wrap
          // Single Tile
          .tile
            .tile-inner
              | Filter Services
          // End single tile
          // Single Collapsible Tile
          .tile.tile-collapse
            div(data-parent='#tile-parent-1', data-target='#tile-subcategory', data-toggle='tile')
              // Tile Icon
              .pull-left.tile-side
                .avatar.avatar-sm.avatar-amber
                  span.icon alarm
              // end tile icon
              .tile-inner
                .text-overflow Service Category
            #tile-subcategory.tile-active-show.collapse(style='height: 0px;')
              .tile-sub
                .form-group
                  for c in subcategories
                    .radio.radio-adv
                      label
                        input.access-hide(name='category', type='radio', value='#{c.subcategory}')
                        | #{c.category}
                        span.circle
                        span.circle-check                  
              .tile-footer
                .tile-footer-btn.pull-left
                  a.btn.btn-flat.waves-attach.waves-effect(href='javascript:void(0)')
                    span.icon check
                    |  OK
                  a.btn.btn-flat.waves-attach.waves-effect(data-toggle='tile', href='#tile-subcategory')
                    span.icon close
                    |  Cancel
          // End single collapsible tile
          .tile.tile-collapse
            div(data-parent='#tile-parent-1', data-target='#tile-collapse-5', data-toggle='tile')
              .pull-left.tile-side
                .avatar.avatar-sm.avatar-green
                  span.icon backup
              .tile-inner
                .text-overflow consectetur adipiscing elit
            #tile-collapse-5.tile-active-show.collapse(style='height: 0px;')
              .tile-sub
                .form-group
                  .radio.radio-adv
                    label(for='input-radio-1')
                      input#input-radio-1.access-hide(name='input-radio', type='radio')
                      | Option 1
                      span.circle
                      span.circle-check
                  .radio.radio-adv
                    label(for='input-radio-2')
                      input#input-radio-2.access-hide(name='input-radio', type='radio')
                      | Option 2
                      span.circle
                      span.circle-check
                  .radio.radio-adv
                    label(for='input-radio-3')
                      input#input-radio-3.access-hide(name='input-radio', type='radio')
                      | Option 3
                      span.circle
                      span.circle-check
              .tile-footer
                .tile-footer-btn.pull-left
                  a.btn.btn-flat.waves-attach.waves-effect(href='javascript:void(0)')
                    span.icon check
                    |  OK
                  a.btn.btn-flat.waves-attach.waves-effect(data-toggle='tile', href='#tile-collapse-5')
                    span.icon close
                    |  Cancel
          .tile.tile-collapse
            div(data-parent='#tile-parent-1', data-target='#tile-collapse-6', data-toggle='tile')
              .pull-left.tile-side
                .avatar.avatar-sm.avatar-red
                  span.icon launch
              .tile-inner
                .text-overflow sed ornare orci lorem
            #tile-collapse-6.tile-active-show.collapse(style='height: 0px;')
              .tile-sub
                p
                  | Additional information
                  br
                  small
                    | Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.
              .tile-footer
                .tile-footer-btn.pull-left
                  a.btn.btn-flat.waves-attach.waves-effect(href='javascript:void(0)')
                    span.icon check
                    |  OK
                  a.btn.btn-flat.waves-attach.waves-effect(data-toggle='tile', href='#tile-collapse-6')
                    span.icon close
                    |  Cancel
      // End sidebar
      // Large Column Content
      .col-md-8
        .dropdown-wrap
          h3(style='display:inline') Results
          .dropdown.dropdown-inline.pull-right
            a.btn.dropdown-toggle-btn.waves-attach.waves-effect(data-toggle='dropdown', aria-expanded='false')
              | Sort By
              span.icon.margin-left-sm keyboard_arrow_down
            ul.dropdown-menu.nav
              li
                a.waves-attach.waves-effect(href='javascript:void(0)') Lorem Ipsum
              li
                a.waves-attach.waves-effect(href='javascript:void(0)') Consectetur Adipiscing
              li
                a.waves-attach.waves-effect(href='javascript:void(0)') Sed Ornare
        
        // single card
        for s in services
          .card
            aside.card-side.card-side-img.pull-left
              img(alt='Company Logo', src='/images/samples/portrait.jpg')
            .card-main
              .card-inner
                p.card-heading(style="margin-top:0px; margin-bottom:0px;")
                  a(href="/service/show/"+s._id) #{s.packagename}
                p
                  span.fa.fa-star
                  span.fa.fa-star
                  span.fa.fa-star
                  span.fa.fa-star
                  br
                  |  Service Provider
                //- p.text-overflow
                //-   =s.description
                //-   a(href="/service/show/"+s._id) Read More
                p
                  strong Pricing: 
                  | #{s.qty} #{s.unit} at #{s.price} BDT
              .card-action
                .card-action-btn.pull-left
                  a.btn.btn-flat.waves-attach.waves-effect(href='#')
                    span.icon.text-blue check
                    span.text-blue &nbsp; View More
                  a.btn.btn-flat.waves-attach.waves-effect(href='#')
                    span.icon.text-blue star
                    span.text-blue &nbsp; Rate
                  a.btn.btn-flat.waves-attach.waves-effect(href='#')
                    span.icon.text-blue thumb_up
                    span.text-blue &nbsp; Like
      // end large column
