extends ../layout

block content
  .container
    .row
      for c in categories
        .col-md-4
          // Card
          .card
            .card-main
              .card-header
                .card-header-side.pull-left
                  .avatar
                    img(alt='Service Logo', src='/images/users/avatar-001.jpg')
                .card-inner
                  a(href="/service/"+c.slug)
                    span= c.category
