extends ../layout

block content
  .container
    .row
      // Sidebar
      .col-md-4
      
      .col-md-8
        .card
          .card-main
            .card-img
              img(alt='alt text', src='/images/samples/landscape.jpg')
              p.card-img-heading #{service.category} > #{service.subcategory}
            .card-inner
              h4 Company Name (Offered By)
              p
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
                span.fa.fa-star
              p Company Address
              p= service.description
              .tile-wrap
                .tile
                  .pull-left.tile-side
                    .avatar.avatar-sm
                      span.icon alarm
                  .tile-inner
                    strong Quantity: 
                    | #{service.qty} #{service.unit}
                .tile
                  .pull-left.tile-side
                    .avatar.avatar-sm
                      span.icon alarm
                  .tile-inner
                    strong Price: 
                    | #{service.price} BDT
                .tile
                  .pull-left.tile-side
                    .avatar.avatar-sm
                      span.icon alarm
                  .tile-inner
                    strong Delivery To: 
                    for dr in service.deliveryRegion
                      = dr
                      |, 
                .tile
                  .pull-left.tile-side
                    .avatar.avatar-sm
                      span.icon alarm
                  .tile-inner
                    strong Delivery By: 
                    for db in service.deliveryMethod
                      = db
                      |,
              p 
                strong Conditions: 
                = service.conditions
              p
                strong Tags: 
                for tg in service.tags
                  =tg
                  |, 
            .card-action
              .card-action-btn.pull-left
                a.btn.btn-flat.waves-attach.waves-effect(href='')
                  span.icon.text-blue check
                  span.text-blue Take This Service
              ul.margin-no.nav.nav-list.pull-right
                li.dropdown
                  a.dropdown-toggle.text-default.waves-attach.waves-effect(data-toggle='dropdown')
                    span.icon keyboard_arrow_down
                  ul.dropdown-menu
                    li
                      a.waves-attach.waves-effect(href='')
                        span.icon.margin-right-sm filter_1
                        |  Other Action 1
                    li
                      a.waves-attach.waves-effect(href='')
                        span.icon.margin-right-sm filter_2
                        |  Other Action 2
                    li
                      a.waves-attach.waves-effect(href='')
                        span.icon.margin-right-sm filter_3
                        |  Other Action 3
